@font-face {
    font-family: "futurak";
    src: url("font/futurak.ttf");
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.Welcome {
    text-align: center;
    background-color: black;
    color: white;
    height: 500px;
}

.color {
    background-color: white;
    height: 100px;
    width: 250px;
    padding: 30px;
}

.img {
    height: 40px;
}

.name {
    display: flex;
    gap: 20px;
 align-items: center;
 padding-bottom: 30px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-top: 20px;
}
.btn1{
    border-radius: 30px 30px;
    padding: 15px 32px;
    text-align: center;
    margin-top: 30px;
    color: white;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 180px;
    height: 58px;
}

.btn {
    border-radius: 30px 30px;
    padding: 15px 32px;
    text-align: center;
    margin-top: 30px;
    color: white;
    width: 185px;
    height: 58px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color:   rgb(237, 28, 36);
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 100px;
}

.span1 {
    font-family: "futurak";
}

.container2 {
    text-align: center;
}

h4 {
    color:  rgb(180, 16, 15);
}

.div2 {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-left: 50px;
    padding-bottom: 30px;
}

h1 {
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
}

.btn2 {
    border-radius: 30px 30px;
    padding: 15px 32px;
    text-align: center;
    margin-top: 30px;
    background-color: black;
    color: white;
    width: 185px;
    height: 58px;
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.Express {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.section {
    justify-content: space-around;
    background-color: black;
    color: white;
    text-align: center;
}

.section1 {
    background-color: black;
    color: white;
}

.village {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.section2 {
    text-align: center;
}

.body {
    background-color: black;
    color: white;
}

.new {
    font-family: "futurak";
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
}

.section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.color2 {
    background-color: white;
    color: black;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    margin-bottom: 32px;
    width: 250px;
    height: 250px;
}

.h1 {
    font-weight: 200;
    font-size: 30px;
    line-height: 20px;
}

.open {
    font-weight: 150;
    font-size: 21px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

i {
    color: grey;
}

.section4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 1200px;
    padding: 70px 15px 0px 15px;
}

li {
    list-style: none;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 8px;
    justify-content: center;
    width: 40px;
    height: 40px;
    background:   rgb(237, 28, 36);
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
}

.li {
    color: rgb(155, 142, 142);
    text-decoration: none;
}

.font {
    display: flex;
    justify-content: center;
    padding-left: 40px;
}

.contact {
    width: 1200px;
}

.ul {
    display: inline;
    line-height: 30px;
}

.contact1 {
    padding: 0px 0px 20px 16px;
    width: 800px;
}

.para {
    padding-right: 30px;
    color: rgb(155, 142, 142);
}

h3 {
    color: rgb(221, 229, 236);
}

.feed {
    text-align: center;
    font-size: x-large;
}

.green {
    border-radius: 30px 30px;
    padding: 15px 32px;
    text-align: center;
    margin-top: 30px;
    background-color: rgb(40, 167, 69);
    color: white;
    width: 185px;
    height: 58px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.fa {
    transform: rotate(-25deg);
    background-color: #fff;
    color:   rgb(237, 28, 36);
    padding: 9px 9px 6px;
    border-radius: 30px;
}
 .ii{
    transform: rotate(-25deg);
    background-color: #fff;
    color:  rgb(180, 16, 15);
    padding: 9px 9px 6px;
    border-radius: 30px;    
 }
 .open{
    font-size: x-large;
 }
 .footer{
    color:  rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
 }
 .lastli{
    padding-bottom: 10px;
 }
 .follow{
    padding-top: 35px;
    text-align:center;
 }